@charset "utf-8";
/* CSS Document */
body,ul,ol,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,
td,th,button,strong,em,select,video,canvas{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
li{list-style:none;vertical-align:top;}
table{ border-collapse:collapse;}
textarea{resize:none;overflow:auto;}
img{ border:none; vertical-align:middle; width:100%;}
em,i{ font-style:normal;}
a{ text-decoration:none;}
a,input{
    -webkit-appearance: none;/*屏蔽阴影*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    /*ios android去除自带阴影的样式*/
}
a, img {
    /* 禁止长按链接与图片弹出菜单 */
    -webkit-touch-callout: none;
}
html, body {
    /* 禁止选中文本(如无文本选中需求,此为必选项) */
    -webkit-user-select: none;  
    user-select: none;
	 background:#f5f5f5;
	 overflow-x:hidden;
}
.clear{zoom:1;}
.clear:after{content:''; display:block; clear:both;}
.fl{float:left;}
.fr{float:right;}
body{ font-family:"microsoft yahei"; font-size:14px;}
.border_left { border-left:1px solid #dddddd;}
.border_right { border-right:1px solid #dddddd;}
.border_top { border-top:1px solid #dddddd;}
.border_bottom { border-bottom:1px solid #dddddd;}


















