@charset "UTF-8";
html,body,form,input,select,textarea,div,p,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em { margin:0; padding:0;}
img{border:none;}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, li{list-style:none; }
dl,dt,dd{list-style:none;float:left;}
a,a:hover {
  text-decoration:none;
  outline:none;
  color:white;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
html,body  {
  height:100%;
}
body {
  font-family:"微软雅黑";
  font-size:1.2em;
  color: black;
  overflow:hidden;
  background:#112209;
  line-height:1.2em;
}
/*loading 加载样式*/
.load-box {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 45;
  background: rgba(0, 0, 0, 0.87);
  display: none;
}
.loadEffect{
    width: 70px;
    position: relative;
    margin: 0 auto;
    margin-top:30%;
    font-size: 3em;
    color: #ccc;
    text-align: center;
}
/*游戏1*/
.content{position:relative;}
header{width:92%;position:absolute;top:1%;left:4%;}
.countdown-box{float:left;width:12%;height:28px;text-align:center;line-height:28px;border-radius:15%;background:rgba(255,255,255,.5);}
.totalnum{float:right;font-size:1.4em;}
/*.moon-img{position:relative;width:100%;height:90%;margin-top:10%;background:red;}*/
.moon-img li{display:block;position:absolute;border-radius:50%;}
.moon1{top:7%;left:34%;width:13%;height:6%;}
.moon2{top:3%;left:43%;width:55%;height:31%;}
.moon3{top:41.5%;left:59.5%;width:10%;height:6%;}
.moon4{top:56.5%;left:76%;width:9%;height:5%;}
.moon5{top:61.5%;left:76%;width:9%;height:5%;}
.moon6{top:78%;left:62%;width:18%;height:9%;}

/*游戏页2*/
.moon21{top:42%;left:74%;width:9%;height:5%;}
.moon22{top:4%;left:48%;width:52%;height:31%;text-align:right;}
.moon23{top:47%;left:73.8%;width:9%;height:5%;}
.moon24{top:47%;left:82.5%;width:9%;height:5%;}
.moon25{top:57.5%;left:74%;width:9%;height:5%;}
.moon26{top:52.5%;left:74%;width:9%;height:5%;}
.moon27{top:61.5%;left:51%;width:9%;height:5%;}
.moon28{top:81%;left:69%;width:18%;height:9%;}

/*进入页*/
.enter-content{overflow:hidden;width:100%;height:100%;background:url('../image/enter-bg.jpg') no-repeat top;-webkit-background-size: 100%; background-size: 100%;}
.enter-box{color:white;width:56%;margin:28% auto;height:66%;}
.enter-rules{font-size:1.4em;margin-left:28%;}
.enter-box ul li{font-size:1.2em;color:white;text-align:center;line-height:50px;display:block;width:100%;height:50px;margin-top:6%;background:#d60808;border-radius:8px;}
.enter-box ul{margin-top:12%;}
.exachange-word{color:#fff7c0;font-size:0.6em;width:64%;margin:0 0 0 36%;line-height:1.8em;}
.exchange-num-bg{overflow:hidden;width:98%;height:30%;background:url('../image/exchane-num-bg.jpg') no-repeat top;-webkit-background-size: 100%; background-size: 100%;margin:0 1% 0 1% ;}
.close-btn{width:36px;height:36px;text-align:center;border-radius:150%;background:#f83434;margin:50% 4% 1% 86%;}
.fa-close{color:white;font-size:1.5em!important;}
.enter-box ol li{font-size:14px;}
.enter-rules-box{width:100%;height:57%;overflow:auto;display:block;font-size:16px;}

/*结果弹窗*/
.exchange-num-box,.result{width:100%;height:100%;background:rgba(0,0,0,0.87);position:absolute;top:0;display:none;}
.result-box{font-size:1em;padding:28% 8% 0 8%;color:white;text-align:center;width:64%;height:80%;margin:4% auto;background:url('../image/result-bg.jpg') no-repeat top;-webkit-background-size: 100%; background-size: 100%;}
.result-title{font-size:1.3em;}
.result-word{font-size:0.8em;line-height:30px;}
.result-box ul li{font-size:1.2em;text-align:center;line-height:40px;display:block;width:80%;height:40px;background:#d60808;border-radius:8px;margin:4% auto;}
.exchange-num{font-size:0.8em;text-align:center;margin:0% auto;display:block;width:80%;line-height:22px;color:white;}
.canvas{margin-top:-12%;width:100%!important;height:40px!important;}
.result-explane{overflow:auto;font-size:0.7em;text-align:left;display:block;width:90%;height:20%;margin:2% auto;}
.result-wish{font-size:1.2em;display:none;}
.result-explane b{color:#c5034c;}

/*再玩一次弹窗*/
.again{width:100%;height:100%;background:rgba(0,0,0,0.87);position:absolute;top:0;display:none;}
.again-box{color:white;text-align:center;padding:8% 4%;width:60%;height:20%;background:#253b75;margin:30% 0 0 16% ;border:1px rgba( 255,255,255,0.5) solid;}
.again-box button{background:#ec3c3c;width:28%;height:30px;border:none;margin:20% 10%;color:white;}









